.movie_page {
  /* color: #fff; */
  /* display: flex; */
  max-width: 1200px;
  margin: 2rem auto;
}

.movie_details {
  padding: 0px 40px;
}

.movie_details h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.movie_release {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}

.movie_overview {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;

}

.movie_info {
  display: flex;
}

.review_header {
  border-bottom: 1.5px solid gray;
  font-weight: 600; 
}

.review {
  font-size: 14px;
  font-weight: 400;
  /* padding: 20px; */
  line-height: 1.4;
  color: #333;
  margin: 0.625rem 0;
}

/* .review_positive {
  background-color: rgb(189, 209, 158)
} */


.movie_review {
  width: 1200px;
}

.movie_page svg {
  font-size: 1.5rem;
  color: #f7d354;
}

.movie_page .movie_card {
  text-align: center;
}

.movie_page .movie_card img {
  max-height: 400px;
}

.movie_page .movie_card img,
.movie_page .movie_card h2,
.movie_page .movie_card p {
  margin-bottom: 1rem;
}

.movie_page .movie_card h2 {
  font-size: 2rem;
}

.movie_page .movie_card p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.movie_page .movie_card p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

